body {
	display: flex-wrap;
	background: lightgray;
}

#results {
	background: white;
	padding: 0 auto;
	text-align: center;
}

.color {
	color: green;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

input {
	text-align: center;
	margin: 0 auto;
}


