body {
	display: flex-wrap;
	background: lightgray;
}

#results {
	background; white;
	height: 100px;
	width: 100px;
}

.red {
	color: red;
}

.green {
	color: green;
}

.blue {
	color: blue;
}

input {
	text-align: center;
}


