body {
	background: lightgray;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div {
	margin: 2%;
	justify-content: center;
	align-items: center;
}

@media all and (max-width: 500px) {
	
	body {background-color: pink;
	}	

	div {
		margin: 5%;
		justify-content: center;
		align-items: center;
	}

}

input {
	text-align: center;
	height: 1.5em;
	font-size: 1.2em;
}

button {
	margin: 0 20px;
}

#results {
	background: white;
	padding: 0 auto;
	text-align: center;
}

.content {
	display: flex;
}

.color {
	color: green;
}

.red {
	color: red;
}

.blue {
	color: blue;
}



